@import '../imports/general';

.toast-success{
    background-color: $light-red;
    border-radius: 0%;
}

.toast-error{
    background-color: $black;
    border-radius: 0%;
}

.toast-warning{
    background-color: $orange;
    border-radius: 0%;
}

.toast-info{
    background-color: $blue;
    border-radius: 0%;
}

.toast-default{
    background-color: $light-red;
    border-radius: 0%;
}