@font-face {
  font-family: PoppinsRegular;
  src:url("./template/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsLight;
  src:url("./template/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsThin;
  src:url("./template/assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsBold;
 src:url("./template/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsSemiBold;
 src:url("./template/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}