.sidebar {
    background: $gray__backdrop;
    height: 100%;
    position: fixed;
    width: 100%;
    top:70px;
    &__menu {
        background: white;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 250px;

        &__headline {
            color: $red;
            font-size: 20px;
            padding: 15px 10px 0px 20px;
            width: 100%;
        }

        ul li {
            list-style-type: none;
            color: $black;
        }

        &__item {

            li {
                padding: 10px 0px 10px 20px;
            }

            ul {
                padding: 10px 0px 0px 10px;
            }

            &--active {
                color: $red !important;

                .icon {
                    color: $red !important;
                }
            }
        }
    }
}

.icon {
    margin-right: 15px;
}

.sidebar__submenu {
    height: auto;
    transition: .5s;
}

.sidebar-slide-enter-active {
    transition: all .5s ease;
}

.sidebar-slide-leave-active {
    transition: all .5s ease;
}

.sidebar-slide-enter,
.sidebar-slide-leave-to {
    // transform: translateX(-150px);
    // transform-origin: top;
    opacity: 0;
}