$red:#A30B1A;
$gray:#F2F3F7;
$black:#463E3F;
$light-red : #d63343;
$green : #20b451;
$light-green : #4beb80;
$orange : #e2aa31;
$light-orange : #f5be47;
$blue : #3698f3;
$light-blue : rgb(58, 186, 245);
$pink : #dd7474;
$light-pink : #eca3a3;
$menu__divider:#e4e4e4;
$active__menu:#e4c2c5;





$primary : linear-gradient($light-red, #e04151);
$primary-hover :linear-gradient($light-red,#da3c4c);
$primary-animate-border : $light-red, #ffcece;

$success : linear-gradient($green, #309051);
$success-hover :linear-gradient($light-green,#309051);
$success-animate-border : $light-green, #ceffdd;


$warning : linear-gradient($orange, #e29c06);
$warning-hover :linear-gradient($light-orange,#d19526);
$warning-animate-border : $light-orange, #ffebce;

$info : linear-gradient($blue, #1e87e9);
$info-hover :linear-gradient($light-blue,#3a98f0);
$info-animate-border : $light-blue, #cedfff;

