$red:#A30B1A;
$gray:#F2F3F7;
$dark-gray:#e1e3ea;
$black:#555656;
$prime:#e84656;

$gray__backdrop:rgba(97,97,97,0.8);

//COMPONENTS
$light-red : #e24857;
$green : #28ca5f;
$light-green : #3ddd73;
$orange : #E29C06;
$light-orange : #f0aa14;
$light-red : #d63343;
$green : #20b451;
$light-green : #4beb80;
$orange : #e2aa31;
$light-orange : #f5be47;
$blue : #3698f3;
$light-blue : rgb(58, 186, 245);
$pink : #dd7474;
$light-pink : #eca3a3;

// TEMPLATE LAYOUT
$menu__divider:#e4e4e4;
$active__menu:#e4c2c5;
$container:#eef2f3;




$primary : linear-gradient($light-red, #e04151);
$primary-hover :linear-gradient($light-red,#da3c4c);
$primary-animate-border : $light-red, #ffcece;
$primary-disabled :linear-gradient(#f17a86,#f17a86);


$success : linear-gradient($green, #309051);
$success-hover :linear-gradient($light-green,#309051);
$success-animate-border : $light-green, #ceffdd;
$success-disabled :linear-gradient(#7af181,#82f17a);


$warning : linear-gradient($orange, #e29c06);
$warning-hover :linear-gradient($light-orange,#d19526);
$warning-animate-border : $light-orange, #ffebce;
$warning-disabled :linear-gradient(#f1bd7a,#f1d17a);

$info : linear-gradient($blue, #1e87e9);
$info-hover :linear-gradient($light-blue,#3a98f0);
$info-animate-border : $light-blue, #cedfff;
$info-disabled :linear-gradient(#7ab1f1,#7ab1f1);

