@font-face {
  font-family: PoppinsRegular;
  src:url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsLight;
  src:url("../../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsThin;
  src:url("../../assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: PoppinsBold;
 src:url("../../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
