@font-face {
  font-family: PoppinsRegular;
  src: url(../../Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(../../Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsThin;
  src: url(../../Poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../../Poppins/Poppins-Bold.ttf);
}
