@import "fonts";
@import "colors";
@import "mediascreens";
@import "cross_settings";

 *,
 html {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

*{
     font-family: 'PoppinsRegular';
}
